@{
    ViewBag.Title = "Onion Wallet - Terms of Service";
}

@section Breadcrumbs {
    <ul class="breadcrumb">
        <li><i class="icon-home2 position-left"></i> <a href="/">Onion Wallet</a> </li>
        <li class="active">Terms of Service</li>
    </ul>
}

<div class="row">
    <div class="col-md-6 col-xs-12 col-md-offset-3 ">

        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2 class="panel-title">OnionWallet.ch - Terms of Service</h2>
            </div>
            <div class="panel-body">
                <p>
                    The software you are about to use functions as a free digital web wallet for DeepOnion Cryptocurrency. This software is a 3rd party, DeepOnion project is not related to this software.
                </p>
                <p>
                    While the software has undergone beta testing and continues to be improved by feedback from the user and developer community, we cannot guarantee that there will be no bugs in the software. You acknowledge that your use of this software is at your own discretion and in compliance with all applicable laws. You are responsible for safekeeping your passwords, restore-guid and any other codes you use to access the software.
                </p>
                <p>
                    IF YOU LOSE YOUR PASSWORD OR YOUR RESTORE GUID AND EMAIL ACCESS, YOU ACKNOWLEDGE AND AGREE THAT ANY DEEPONION YOU HAVE ASSOCIATED WITH THAT WEB WALLET WILL BECOME INACCESSIBLE. All transaction requests are irreversible. The authors of the software cannot retrieve your account passwords if you lose or forget them and cannot guarantee transaction confirmation as they do not have control over the DeepOnion network.
                </p>
                <p>
                    To the fullest extent permitted by law, this software is provided "as is" and no representations or warranties can be made of any kind, express or implied, including but not limited to the warranties of merchantability, fitness or a particular purpose and noninfringement. You assume any and all risks associated with the use of the software. In no event shall the authors of the software be held liable for any claim, damages or other liability, whether in an action of contract, tort, or otherwise, arising from, out of or in connection with the software. We reserve the right to modify this disclaimer from time to time.
                </p>
            </div>
        </div>
    </div>
</div>